:root {
  --groupui-vwag-font-family: "GroupUI", sans-serif;
  --groupui-vwag-font-family-serif: "GroupUISerif", serif;
  --groupui-vwag-line-height: 1.5;
  --groupui-vwag-border-radius: 0.125rem;
  --groupui-vwag-border-width: 0.0625rem;
  --groupui-vwag-border: 0.0625rem solid;
  --groupui-vwag-letter-spacing: 0.0125rem;
  --groupui-vwag-letter-spacing-large: 0.0375rem;
  --groupui-spacing-1: 0.125rem;
  --groupui-spacing-2: 0.25rem;
  --groupui-spacing-3: 0.5rem;
  --groupui-spacing-4: 0.75rem;
  --groupui-spacing-5: 1rem;
  --groupui-spacing-6: 1.25rem;
  --groupui-spacing-7: 1.5rem;
  --groupui-spacing-8: 2rem;
  --groupui-spacing-9: 2.5rem;
  --groupui-spacing-10: 3rem;
  --groupui-spacing-11: 3.5rem;
  --groupui-spacing-12: 4.5rem;
  --groupui-spacing-13: 6rem;
  --groupui-vwag-font-size-body-1: 16px;
  --groupui-vwag-font-size-body-2: 14px;
  --groupui-vwag-font-size-caption: 12px;
  --groupui-vwag-font-size-label: 12px;
  --groupui-spacing-flex-1: 0.125rem;
  --groupui-spacing-flex-2: 0.25rem;
  --groupui-spacing-flex-3: 0.5rem;
  --groupui-spacing-flex-4: 0.75rem;
  --groupui-spacing-flex-5: 1rem;
  --groupui-spacing-flex-6: 1.25rem;
  --groupui-spacing-flex-7: 1.5rem;
  --groupui-spacing-flex-8: 2rem;
  --groupui-spacing-flex-9: 2.5rem;
  --groupui-spacing-flex-10: 3rem;
  --groupui-spacing-flex-11: 3.5rem;
  --groupui-spacing-flex-12: 4.5rem;
  --groupui-spacing-flex-13: 6rem;
  --groupui-vwag-color-white: #ffffff;
  --groupui-vwag-color-black: #000000;
  --groupui-vwag-color-petrol-1000: #00354D;
  --groupui-vwag-color-petrol-900: #004666;
  --groupui-vwag-color-petrol-800-primary: #20607e;
  --groupui-vwag-color-petrol-700: #35718E;
  --groupui-vwag-color-petrol-600: #4A849F;
  --groupui-vwag-color-petrol-500: #5F95AF;
  --groupui-vwag-color-petrol-400-secondary: #80B0C8;
  --groupui-vwag-color-petrol-300: #A4C8D8;
  --groupui-vwag-color-petrol-200-tertiary: #C6DFE7;
  --groupui-vwag-color-petrol-100: #EAF4F7;
  --groupui-vwag-color-grey-1000: #1B1E1F;
  --groupui-vwag-color-grey-950: #282C2D;
  --groupui-vwag-color-grey-900: #34393B;
  --groupui-vwag-color-grey-800-primary: #4C5356;
  --groupui-vwag-color-grey-700: #636A6D;
  --groupui-vwag-color-grey-600: #7A8084;
  --groupui-vwag-color-grey-500: #91979C;
  --groupui-vwag-color-grey-400-secondary: #A8ADB3;
  --groupui-vwag-color-grey-300: #CACDD2;
  --groupui-vwag-color-grey-200-tertiary: #DFE2E6;
  --groupui-vwag-color-grey-100: #F0F1F2;
  --groupui-vwag-color-green-1000: #68752F;
  --groupui-vwag-color-green-900: #7F8F3A;
  --groupui-vwag-color-green-800-primary: #95A844;
  --groupui-vwag-color-green-700: #A2B25B;
  --groupui-vwag-color-green-600: #AFBD72;
  --groupui-vwag-color-green-500: #BDC88A;
  --groupui-vwag-color-green-400-secondary: #CAD3A1;
  --groupui-vwag-color-green-300: #DAE1BE;
  --groupui-vwag-color-green-200-tertiary: #EAEEDA;
  --groupui-vwag-color-green-100: #F5F7EB;
  --groupui-vwag-color-orange-1000: #A68200;
  --groupui-vwag-color-orange-900: #BE9500;
  --groupui-vwag-color-orange-800-primary: #D8AA00;
  --groupui-vwag-color-orange-700: #DDB420;
  --groupui-vwag-color-orange-600: #E2BF40;
  --groupui-vwag-color-orange-500: #E6C95F;
  --groupui-vwag-color-orange-400-secondary: #EBD47F;
  --groupui-vwag-color-orange-300: #EFDC99;
  --groupui-vwag-color-orange-200-tertiary: #F3E5B2;
  --groupui-vwag-color-orange-100: #FFF7DB;
  --groupui-vwag-color-red-1000: #5F1939;
  --groupui-vwag-color-red-900: #801B42;
  --groupui-vwag-color-red-800-primary: #A21E4D;
  --groupui-vwag-color-red-700: #AA325C;
  --groupui-vwag-color-red-600: #B2466B;
  --groupui-vwag-color-red-500: #BA5A79;
  --groupui-vwag-color-red-400-secondary: #C26D88;
  --groupui-vwag-color-red-300: #D69DAF;
  --groupui-vwag-color-red-200-tertiary: #EBCED7;
  --groupui-vwag-color-red-100: #F7EBEF;
  --groupui-vwag-color-signal-green-1000: #46752F;
  --groupui-vwag-color-signal-green-900: #558F3A;
  --groupui-vwag-color-signal-green-800-primary: #64A844;
  --groupui-vwag-color-signal-green-700: #7AB55E;
  --groupui-vwag-color-signal-green-600: #8DC076;
  --groupui-vwag-color-signal-green-500: #A2CB8E;
  --groupui-vwag-color-signal-green-400-secondary: #B5D6A5;
  --groupui-vwag-color-signal-green-300: #C8E1BC;
  --groupui-vwag-color-signal-green-200-tertiary: #DDEDD5;
  --groupui-vwag-color-signal-green-100: #EFF7EB;
  --groupui-vwag-color-signal-orange-1000: #BF7400;
  --groupui-vwag-color-signal-orange-900: #E68B00;
  --groupui-vwag-color-signal-orange-800-primary: #FF9B00;
  --groupui-vwag-color-signal-orange-700: #FEA925;
  --groupui-vwag-color-signal-orange-600: #FDB547;
  --groupui-vwag-color-signal-orange-500: #FCC167;
  --groupui-vwag-color-signal-orange-400-secondary: #FBCD87;
  --groupui-vwag-color-signal-orange-300: #FADAA9;
  --groupui-vwag-color-signal-orange-200-tertiary: #F9E6CB;
  --groupui-vwag-color-signal-orange-100: #F7F2EB;
  --groupui-vwag-color-signal-red-1000: #800712;
  --groupui-vwag-color-signal-red-900: #A60918;
  --groupui-vwag-color-signal-red-800-primary: #DA0C1F;
  --groupui-vwag-color-signal-red-700: #DF2F3F;
  --groupui-vwag-color-signal-red-600: #E34F5C;
  --groupui-vwag-color-signal-red-500: #E76E79;
  --groupui-vwag-color-signal-red-400-secondary: #EB8C95;
  --groupui-vwag-color-signal-red-300: #EFACB2;
  --groupui-vwag-color-signal-red-200-tertiary: #F3CCD0;
  --groupui-vwag-color-signal-red-100: #F7EBEF;
  --groupui-vwag-color-purple-1000: #790092;
  --groupui-vwag-color-purple-900: #8700A3;
  --groupui-vwag-color-purple-800-primary: #9600B4;
  --groupui-vwag-color-purple-700: #A400C5;
  --groupui-vwag-color-purple-600: #B600DA;
  --groupui-vwag-color-purple-500: #BE1BDE;
  --groupui-vwag-color-purple-400-secondary: #C944E3;
  --groupui-vwag-color-purple-300: #D673EA;
  --groupui-vwag-color-purple-200-tertiary: #E3A3EF;
  --groupui-vwag-color-purple-100: #F1D6F6;
  --groupui-vwag-color-blue-1000: #03477D;
  --groupui-vwag-color-blue-900: #0F5F9F;
  --groupui-vwag-color-blue-800-primary: #1873BB;
  --groupui-vwag-color-blue-700: #268DE0;
  --groupui-vwag-color-blue-600: #30A2FE;
  --groupui-vwag-color-blue-500: #4FB0FD;
  --groupui-vwag-color-blue-400-secondary: #66B9FC;
  --groupui-vwag-color-blue-300: #8BC9FB;
  --groupui-vwag-color-blue-200-tertiary: #A9D6FA;
  --groupui-vwag-color-blue-100: #CCE5F9;
  --groupui-vwag-color-mint-1000: #0D6042;
  --groupui-vwag-color-mint-900: #0F7C55;
  --groupui-vwag-color-mint-800-primary: #109365;
  --groupui-vwag-color-mint-700: #11A872;
  --groupui-vwag-color-mint-600: #16BE83;
  --groupui-vwag-color-mint-500: #38CA97;
  --groupui-vwag-color-mint-400-secondary: #5CD6AB;
  --groupui-vwag-color-mint-300: #7EE2BF;
  --groupui-vwag-color-mint-200-tertiary: #9FEDD1;
  --groupui-vwag-color-mint-100: #C5FAE8;
  --groupui-vwag-color-violet-1000: #390185;
  --groupui-vwag-color-violet-900: #4A0BA0;
  --groupui-vwag-color-violet-800-primary: #5915B8;
  --groupui-vwag-color-violet-700: #691ED0;
  --groupui-vwag-color-violet-600: #7727E7;
  --groupui-vwag-color-violet-500: #803AE3;
  --groupui-vwag-color-violet-400-secondary: #A36CF0;
  --groupui-vwag-color-violet-300: #BB93F4;
  --groupui-vwag-color-violet-200-tertiary: #D2B6FA;
  --groupui-vwag-color-violet-100: #ECDFFF;
  --groupui-vwag-color-lime-1000: #577903;
  --groupui-vwag-color-lime-900: #6C9506;
  --groupui-vwag-color-lime-800-primary: #7FAF08;
  --groupui-vwag-color-lime-700: #8FC409;
  --groupui-vwag-color-lime-600: #A2DD0E;
  --groupui-vwag-color-lime-500: #AFE230;
  --groupui-vwag-color-lime-400-secondary: #C1E85E;
  --groupui-vwag-color-lime-300: #CEED82;
  --groupui-vwag-color-lime-200-tertiary: #DDF2A8;
  --groupui-vwag-color-lime-100: #EEF9D3;
  --groupui-vwag-color-aqua-1000: #226F78;
  --groupui-vwag-color-aqua-900: #2B8A91;
  --groupui-vwag-color-aqua-800-primary: #349CA0;
  --groupui-vwag-color-aqua-700: #37B4BA;
  --groupui-vwag-color-aqua-600: #3CC0C9;
  --groupui-vwag-color-aqua-500: #3BD8DD;
  --groupui-vwag-color-aqua-400-secondary: #41E0E6;
  --groupui-vwag-color-aqua-300: #72FAFF;
  --groupui-vwag-color-aqua-200-tertiary: #A6FEFC;
  --groupui-vwag-color-aqua-100: #E2F7F7;
  --groupui-vwag-elevation-level-0: none;
  --groupui-vwag-elevation-level-1: none;
  --groupui-vwag-elevation-level-4: 0 0.125rem 0.25rem 0.063rem rgba(0, 0, 0, 0.24);
  --groupui-vwag-elevation-level-8: 0 0.25rem 0.5rem 0.063rem rgba(0, 0, 0, 0.24);
  --groupui-vwag-elevation-level-16: 0 0.5rem 1rem 0.063rem rgba(0, 0, 0, 0.24);
  --groupui-vwag-elevation-level-24: 0 1rem 1.5rem 0.063rem rgba(0, 0, 0, 0.24);
  --groupui-vwag-breakpoint-xs: 0;
  --groupui-vwag-breakpoint-s: 320px;
  --groupui-vwag-breakpoint-m: 560px;
  --groupui-vwag-breakpoint-l: 960px;
  --groupui-vwag-breakpoint-xl: 1280px;
  --groupui-vwag-breakpoint-xxl: 1620px;
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-1: 0.25rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-2: 0.375rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-3: 0.75rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-4: 1rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-5: 1.25rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-6: 1.5rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-7: 2rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-8: 2.5rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-9: 3rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-10: 3.5rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-11: 4.5rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-12: 6rem;
  }
}
@media (min-width: 960px) {
  :root {
    --groupui-spacing-flex-13: 7rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-1: 0.375rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-2: 0.5rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-3: 1rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-4: 1.25rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-5: 1.5rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-6: 2rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-7: 2.5rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-8: 3rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-9: 3.5rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-10: 4.5rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-11: 6rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-12: 7rem;
  }
}
@media (min-width: 1620px) {
  :root {
    --groupui-spacing-flex-13: 8.5rem;
  }
}

.overlay-open {
  overflow: hidden;
}
